<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccdetailEdit"></activity>
        <activity android:name=".editAccDetails" />
        <activity android:name=".ResetComplete" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".forgotPassword" />
        <activity android:name=".EditTodo" />
        <activity
            android:name=".newTodo"
            android:launchMode="singleTask" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".TodoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Splash_screen"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>